In [191]:
import pandas as pd
import re

# Importing datasets

In [192]:
train_data=pd.read_csv(r"C:\Users\Dell\Downloads\Train_Data.csv")
test_data=pd.read_csv(r"C:\Users\Dell\Downloads\Test_Data.csv")

In [193]:
train_data.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [194]:
test_data.head()

,textId,text,selected_text,sentiment
0,4234ca4536,Lookin` at spreadsheets so long my eyes are cr...,my eyes are crossing...,negative
1,181bc1ee99,no way - those are great words. Boys don`t g...,no way - those are great words.,neutral
2,ee60f31d77,/drool. I still need to 100% the first one,/drool. I still need to 100% the first one,neutral
3,9457c9ad0f,Word. Yayy twitter after dark lol.,. Yayy,positive
4,54f64bce62,"So, #primavera is in Barcelona. In Spain. Sure...","So, #primavera is in Barcelona. In Spain. Sure...",neutral

In [195]:
def renameColumn(dataset):
    dataset.rename(columns={'text':'tweet'},inplace=True)
    return dataset
renameColumn(train_data)
renameColumn(test_data)

,textId,tweet,selected_text,sentiment
0,4234ca4536,Lookin` at spreadsheets so long my eyes are cr...,my eyes are crossing...,negative
1,181bc1ee99,no way - those are great words. Boys don`t g...,no way - those are great words.,neutral
2,ee60f31d77,/drool. I still need to 100% the first one,/drool. I still need to 100% the first one,neutral
3,9457c9ad0f,Word. Yayy twitter after dark lol.,. Yayy,positive
4,54f64bce62,"So, #primavera is in Barcelona. In Spain. Sure...","So, #primavera is in Barcelona. In Spain. Sure...",neutral
...,...,...,...,...
1996,6c86c96dbe,I`m missing one of my diamond earrings. This m...,I`m missing one of my diamond earrings. This m...,negative
1997,fbfad74229,"I love wearing my hood too, even though in Po...","I love wearing my hood too, even though in Por...",neutral
1998,948e5f7b25,Well I`m obsessed w/all of them - but I watch...,Well I`m obsessed w/all of them - but I watche...,neutral
1999,6021b57412,is this a new album?? about bloody time too!!,is this a new album?? about bloody time too!!,neutral
2000,fa78beca22,youre very welcome....you deserve it!!,welcome.,positive

In [196]:
labelling_emotions={"positive" : 1 , "negative" : -1 , "neutral" : 0}

In [197]:
def labellingEmotions(dataset):
    dataset.replace(labelling_emotions, inplace = True)
    return dataset
labellingEmotions(train_data)
labellingEmotions(test_data)

,textId,tweet,selected_text,sentiment
0,4234ca4536,Lookin` at spreadsheets so long my eyes are cr...,my eyes are crossing...,-1
1,181bc1ee99,no way - those are great words. Boys don`t g...,no way - those are great words.,0
2,ee60f31d77,/drool. I still need to 100% the first one,/drool. I still need to 100% the first one,0
3,9457c9ad0f,Word. Yayy twitter after dark lol.,. Yayy,1
4,54f64bce62,"So, #primavera is in Barcelona. In Spain. Sure...","So, #primavera is in Barcelona. In Spain. Sure...",0
...,...,...,...,...
1996,6c86c96dbe,I`m missing one of my diamond earrings. This m...,I`m missing one of my diamond earrings. This m...,-1
1997,fbfad74229,"I love wearing my hood too, even though in Po...","I love wearing my hood too, even though in Por...",0
1998,948e5f7b25,Well I`m obsessed w/all of them - but I watch...,Well I`m obsessed w/all of them - but I watche...,0
1999,6021b57412,is this a new album?? about bloody time too!!,is this a new album?? about bloody time too!!,0
2000,fa78beca22,youre very welcome....you deserve it!!,welcome.,1

# Dropping Unwanted Columns

In [198]:
columns_drop=['selected_text']
train_data.drop(columns=columns_drop)
test_data.drop(columns=columns_drop)

          textId                                              tweet  sentiment
0     4234ca4536  Lookin` at spreadsheets so long my eyes are cr...         -1
1     181bc1ee99   no way - those are great words.  Boys don`t g...          0
2     ee60f31d77         /drool. I still need to 100% the first one          0
3     9457c9ad0f                 Word. Yayy twitter after dark lol.          1
4     54f64bce62  So, #primavera is in Barcelona. In Spain. Sure...          0
...          ...                                                ...        ...
1996  6c86c96dbe  I`m missing one of my diamond earrings. This m...         -1
1997  fbfad74229   I love wearing my hood too, even though in Po...          0
1998  948e5f7b25   Well I`m obsessed w/all of them - but I watch...          0
1999  6021b57412      is this a new album?? about bloody time too!!          0
2000  fa78beca22             youre very welcome....you deserve it!!          1

[2001 rows x 3 columns]

# Lowercasing

In [199]:
train_data['tweet'] = train_data['tweet'].apply(lambda x: x.lower() if isinstance(x, str) else x)
test_data['tweet'] = test_data['tweet'].apply(lambda x: x.lower() if isinstance(x, str) else x)

print(train_data['tweet'])

0                     i`d have responded, if i were going
1           sooo sad i will miss you here in san diego!!!
2                               my boss is bullying me...
3                          what interview! leave me alone
4        sons of ****, why couldn`t they put them on t...
                              ...
9994                                            im 16 too
9995                   just got bullied by dillah.  help!
9996                                            what lol?
9997     some days you must look hard for that good th...
9998    i`m so worn out, this week has sped by soo fas...
Name: tweet, Length: 9999, dtype: object

# Removing Duplicates

In [200]:
duplicates1 = train_data[train_data['tweet'].duplicated(keep=False)]
duplicates2 = test_data[test_data['tweet'].duplicated(keep=False)]
print("Duplicated Sentences:")
print(duplicates1)
print(duplicates2)

Duplicated Sentences:
          textID                                        tweet  \
95    4c41a35a2a  happy mothers day to all you mums out there
170   f3d95b57b1                                 good morning
1139  cd1a90193c                           happy mothers day!
1387  d0ab385860                                       thanks
1643  608497a8e5                                   thank you.
1788  eeeea78845                                 good morning
2175  5047df4e16                                       thanks
2354  930b5a21be                                  tummy hurts
2408  ef9483e22e                                 good morning
2932  b30b858bfc                                    thank you
3274  3f8a34153b                                    thank you
3975  655659de18                           happy mothers day!
4114  d7f6f40f36                                 good morning
4413  77a183021d                               i miss you too
6532  e73ed8a847                               i miss you too
7424  433cb03f2a                                  tummy hurts
8292  24e37fce8c  happy mothers day to all you mums out there
8896  9d5cfa4d06                                       thanks
9409  bb6edcc1b8                                   thank you.

                                    selected_text  sentiment
95    Happy Mothers day to all you Mums out there          1
170                                  good morning          1
1139                           Happy Mothers Day!          1
1387                                       Thanks          1
1643                                   thank you.          1
1788                                         Good          1
2175                                       thanks          1
2354                                  Tummy hurts         -1
2408                                 good morning          1
2932                                    Thank you          1
3274                                    thank you          1
3975                           HAPPY MOTHERS DAY!          1
4114                                 Good Morning          1
4413                               i miss you too         -1
6532                               I miss you too         -1
7424                                  tummy hurts         -1
8292                                        happy         -1
8896                                       THANKS          1
9409                                   Thank you.          1
Empty DataFrame
Columns: [textId, tweet, selected_text, sentiment]
Index: []

In [201]:
train_data.drop_duplicates(subset='tweet', keep='first', inplace=True)
test_data.drop_duplicates(subset='tweet', keep='first', inplace=True)
print(train_data['tweet'])

0                     i`d have responded, if i were going
1           sooo sad i will miss you here in san diego!!!
2                               my boss is bullying me...
3                          what interview! leave me alone
4        sons of ****, why couldn`t they put them on t...
                              ...
9994                                            im 16 too
9995                   just got bullied by dillah.  help!
9996                                            what lol?
9997     some days you must look hard for that good th...
9998    i`m so worn out, this week has sped by soo fas...
Name: tweet, Length: 9989, dtype: object

In [202]:
duplicates = train_data[train_data['tweet'].duplicated(keep=False)]

print("Duplicated Sentences:")
print(duplicates)

Duplicated Sentences:
Empty DataFrame
Columns: [textID, tweet, selected_text, sentiment]
Index: []

# Removing appostrophies

In [203]:
appostrophy_dict = {
    "can`t": "cannot",
    "cant": "cannot",
    "aren`t": "are not",
    "arent": "are not",
    "couldn`t": "could not",
    "couldnt": "could not",
    "doesn`t": "does not",
    "doesnt": "does not",
    "don`t": "do not",
    "dont": "do not",
    "hadn`t": "had not",
    "hadnt": "had not",
    "hasn`t": "has not",
    "hasnt": "has not",
    "haven`t": "have not",
    "havent": "have not",
    "he`d": "he would",
    "he`ll": "he will",
    "he`s": "he is",
    "i`d": "i would",
    "i`ll": "I will",
    "i`m": "i am",
    "im": "i am",
    "isn`t": "is not",
    "isnt": "is not",
    "it`s": "it is",
    "it`ll": "it will",
    "i`ve": "i have",
    "let`s": "let us",
    "mightn`t": "might not",
    "mightnt": "might not",
    "mustn`t": "must not",
    "mustnt": "must not",
    "shan`t": "shall not",
    "she`d": "she would",
    "she`ll": "she will",
    "she`s": "she is",
    "shouldn`t": "should not",
    "shouldnt": "should not",
    "that`s": "that is",
    "thats": "that is",
    "there`s": "there is",
    "they`d": "they would",
    "they`ll": "they will",
    "they`re": "they are",
    "they`ve": "they have",
    "we`d": "we would",
    "we`re": "we are",
    "weren`t": "were not",
    "we`ve": "we have",
    "what`ll": "what will",
    "what`re": "what are",
    "what`s": "what is",
    "whats": "what is",
    "what`ve": "what have",
    "where`s": "where is",
    "who`d": "who would",
    "who`ll": "who will",
    "who`re": "who are",
    "who`s": "who is",
    "who`ve": "who have",
    "won`t": "will not",
    "wont": "will not",
    "wouldn`t": "would not",
    "wouldnt": "would not",
    "you`d": "you would",
    "you`ll": "you will",
    "you`re": "you are",
    "you`ve": "you have",
    "wasn`t": "was not",
    "wasnt": "was not",
    "we`ll": "will",
    "didn`t": "did not",
    "didnt": "did not"
}

def removingAppostrophies(tokens):
    if tokens is not None:
        removedText = []
        for token in tokens:
            token_lower = token.lower()
            if token_lower.endswith("`s"):
                removedText.append(token_lower[:-2] + " is")
            elif token_lower in appostrophy_dict:
                removedText.append(appostrophy_dict[token_lower])
            else:
                removedText.append(token)
        value = " ".join(removedText)
        return value

train_data['tokenized_tweet'] = train_data['tweet'].apply(lambda x: x.split() if isinstance(x, str) else [])
train_data['tokenized_tweet'] = train_data['tokenized_tweet'].apply(removingAppostrophies)


print(train_data['tokenized_tweet'])

0                 i would have responded, if i were going
1           sooo sad i will miss you here in san diego!!!
2                               my boss is bullying me...
3                          what interview! leave me alone
4       sons of ****, why could not they put them on t...
                              ...
9994                                          i am 16 too
9995                    just got bullied by dillah. help!
9996                                            what lol?
9997    some days you must look hard for that good thing.
9998    i am so worn out, this week has sped by soo fa...
Name: tokenized_tweet, Length: 9989, dtype: object

# Removing Punctuations and tokenizing

In [204]:
def tokenization(text):

    punctuation = '!"$%&\()*+,-./:;<=>?[\\]^_`{|}~'
    if isinstance(text, str):
        for char in punctuation:
            text = text.replace(char, ' ')
        tokens = text.split()

        return tokens

train_data['tokenized_tweet']=train_data['tokenized_tweet'].apply(tokenization)
print(train_data['tokenized_tweet'])

0         [i, would, have, responded, if, i, were, going]
1       [sooo, sad, i, will, miss, you, here, in, san,...
2                            [my, boss, is, bullying, me]
3                     [what, interview, leave, me, alone]
4       [sons, of, why, could, not, they, put, them, o...
                              ...
9994                                     [i, am, 16, too]
9995               [just, got, bullied, by, dillah, help]
9996                                          [what, lol]
9997    [some, days, you, must, look, hard, for, that,...
9998    [i, am, so, worn, out, this, week, has, sped, ...
Name: tokenized_tweet, Length: 9989, dtype: object

# Removing Numbers

In [205]:
def RemovingNumbers(tokens):
    if tokens is None:
        return []
    else:
        pattern = r'\b\w*\d\w*\b'
        removingNumbers_tokens = [token for token in tokens if not re.search(pattern, token)]
        return removingNumbers_tokens

 
train_data["tokenized_tweet"] = train_data["tokenized_tweet"].apply(RemovingNumbers)
print(train_data["tokenized_tweet"])

0         [i, would, have, responded, if, i, were, going]
1       [sooo, sad, i, will, miss, you, here, in, san,...
2                            [my, boss, is, bullying, me]
3                     [what, interview, leave, me, alone]
4       [sons, of, why, could, not, they, put, them, o...
                              ...
9994                                         [i, am, too]
9995               [just, got, bullied, by, dillah, help]
9996                                          [what, lol]
9997    [some, days, you, must, look, hard, for, that,...
9998    [i, am, so, worn, out, this, week, has, sped, ...
Name: tokenized_tweet, Length: 9989, dtype: object

In [206]:
train_data.head(100)

,textID,tweet,selected_text,sentiment,tokenized_tweet
0,cb774db0d1,"i`d have responded, if i were going","I`d have responded, if I were going",0,"[i, would, have, responded, if, i, were, going]"
1,549e992a42,sooo sad i will miss you here in san diego!!!,Sooo SAD,-1,"[sooo, sad, i, will, miss, you, here, in, san,..."
2,088c60f138,my boss is bullying me...,bullying me,-1,"[my, boss, is, bullying, me]"
3,9642c003ef,what interview! leave me alone,leave me alone,-1,"[what, interview, leave, me, alone]"
4,358bd9e861,"sons of ****, why couldn`t they put them on t...","Sons of ****,",-1,"[sons, of, why, could, not, they, put, them, o..."
...,...,...,...,...,...
95,4c41a35a2a,happy mothers day to all you mums out there,Happy Mothers day to all you Mums out there,1,"[happy, mothers, day, to, all, you, mums, out,..."
96,61a8e11e8a,"casey`s gone?!?! but why?! so, she piddled a ...",freaked,-1,"[casey, is, gone, but, why, so, she, piddled, ..."
97,447dc22c81,hemp cloth is marvelous but unfortunately no,unfortunately,-1,"[hemp, cloth, is, marvelous, but, unfortunatel..."
98,3408db03a3,gonna read a story bout adam lambert online th...,Gonna read a story bout adam lambert online th...,0,"[gonna, read, a, story, bout, adam, lambert, o..."
99,92e1b6846e,we saw that in none 3d - the baddie`s the best,best,1,"[we, saw, that, in, none, the, baddie, is, the..."